/* combobox = sélecteur description famille */


.container-combobox {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.custom-combobox {
    position: relative;
}

.tt_activity_classic .custom-combobox
{
    margin-left: 30%
}
.tt_activity_modal .custom-combobox input
{
    width: 80%;
}

.tt_activity_modal > div
{
    width: 45%;
}
.tt_activity_modal > div > button
{
    display: block;
    position: relative;
    float: right;
}

.custom-combobox > input {
    position: relative;
    padding: 5px;
    border: none !important;
    margin: 20px;
    align-content: center;
    left: auto;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
}

.container-combobox label {
    padding-left: 0;
    font-size: 14px;
}

.custom-combobox a {
    position: absolute;
    margin: 20px 20px 20px 0px;
    right: 1px;
    top: -23px;
}

.custom-combobox-toggle:hover, .custom-combobox-toggle:focus, .custom-combobox-toggle:active {
    cursor: pointer;
    border: none !important;
    background: #f1f1f1 !important;
}

.custom-combobox-input {
    min-width: 40%;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    width: 20em;
    overflow-x: hidden;
    /* pour avoir un nombre limité de résultats, et scroller si beaucoup de résultats*/

}

.container-combobox .ui-button-text-only, .container-combobox .ui-button-text	{
    border: none;
    padding: 0;
}

.custom-combobox-toggle{
    padding-bottom: 2px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border: none;
    border-left: none;
    border-right: none;
    background: #f1f1f1;
    padding: 3px 4px 3px 30px;

}

.custom-combobox-possible-activity-toggle
{
    background: #fff;
    padding: 3px 4px 3px 4px;

}

.custom-combobox-possible-activity-toggle:hover, .custom-combobox-possible-activity-toggle:focus, .custom-combobox-possible-activity-toggle:active {
    background: #fff !important;
}

.combobox_widget_list{
    background-color: #fff;
}
.combobox_widget_list .ui-menu-item{
    padding: 2px 8px;
}
.combobox_widget_list .ui-state-focus
{
    border: none;
    background: #EEE;
    font-weight: normal;
    color: #000;
    padding: 2px 8px;
    margin : 0;
}
.combobox_widget_list .ui-state-focus a {
    color: #000;
}

.ui-autocomplete-category, .ui-autocomplete-class {
    font-weight: bold !important;
    padding: .2em .4em !important;
    margin: .8em 0 .2em !important;
    line-height: 1.5 !important;
}
.tt-activity-color{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 8px;
    margin: 0px 4px;
    line-height: 8px;
    vertical-align: 1px;
}

#time-tracking-like-button{
    color: #444444;
    position: absolute;
    padding: 0px;
    margin: 24px;
    right: 27px;
    font-size: 15px;
    z-index: 1;
   background: #f1f1f1;
    top: -23px;
}

#time-tracking-like-button.time-tracking-is-favorite{
    color: #e2264d;
    animation: pulse 1s 1;
}

@keyframes pulse {
    from { transform: scale(1); }
    50% { transform: scale(1.25); }
    to { transform: scale(1); }
}

/*Possible activity list*/

#tt-submit-add-activity
{
    position: absolute;
    bottom: 10px;
    right: 12px;
}
.custom-combobox-possible-activity-toggle, .custom-combobox-possible-activity-input
{
    border: none !important;
    background: #fdfdfd !important;
}
